ul,li,p{ margin: 0; padding: 0; list-style-position: inside}
a{text-decoration: none}
html,body{height:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
b,strong{font-weight:bold}                      
img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
ol,ul{list-style:none}li{ display: list-item;list-style: none;padding: 0;}
table{border-collapse:collapse;border-spacing:0}th,td,caption{font-weight:normal;vertical-align:top;text-align:left}
q{quotes:none}q:before,q:after{content:'';content:none}
sub,sup,small{font-size:75%}sub,sup{line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}svg{overflow:hidden}
.clear {clear: both;display: block;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
img{border: none}
body{background-color: #f1f1f1; font-family: Arial; font-size: 12px; color: #464646;}
.wrapper{width: 966px; background-color: #fff; margin: 0 auto; overflow: hidden;}
.header{width: 100%; height: 100px; background-color: #f1f1f1; padding-top:10px; padding: 5px; float: left;}
.top-menu{width: 100%; height: 40px; float: left;}
.bottom-menu{width: 100%; }
.footer{width: 100%; height: 140px; padding-top: 15px; background-color: #fff; float: left; overflow: hidden;}
.container{ padding: 0 15px;}
.margin-top15{margin-top: 15px}
/******logo************/
h1,h2,h3,h4{ margin: 0; padding: 0}
.logo{
    display: block;
    width: 278px;
    height: 100px;
    background: url("/images/logo.png") no-repeat top left;
    float: left;
    text-indent: -9999px;
}
/******menu-top***********/
.menu{
    background: rgb(252,255,244); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmZmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDFkMWQxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzlmOWY5ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(209,209,209,1) 0%, rgba(159,159,159,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(0%,rgba(209,209,209,1)), color-stop(100%,rgba(159,159,159,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(209,209,209,1) 0%,rgba(159,159,159,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(209,209,209,1) 0%,rgba(159,159,159,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(209,209,209,1) 0%,rgba(159,159,159,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(209,209,209,1) 0%,rgba(159,159,159,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#9f9f9f',GradientType=0 ); /* IE6-8 */
}
.menu ul li {
    float:left;
    overflow: hidden;
    height: 100%;
    background: url('/images/line_ver_menu.gif') no-repeat top right;
}
.menu ul li:last-child {
    background: none;
}
.menu li a{
    padding: 14px 20px 13px 22px;
    display: block;
    font-size: 13px;
    color: #464646;
    text-transform: uppercase;
    font-weight: bold;
}
.menu li.active a{
    color:#d20000;
}
.menu li a:hover{
    color:#d20000;
}
/******menu-bottom***********/
.bottom-menu {
    border-bottom: solid 3px #979797; margin: 0 auto
}
.bottom-menu ul { margin: 0 auto;width: 550px; overflow: hidden}
.bottom-menu ul li{  
    float:left;
    overflow: hidden;
    height: 100%; padding: 5px 10px
}
.bottom-menu ul li a {
    color: #464646; font: 11px Arial
}
/*******Clock - Social button - Search box********/
.clock-socialbutton-searchbox{height: 36px;clear: both; line-height: 36px}
.clock{ width: 250px; float: left}
.search-box{ width: 200px;float: right;height: 20px;border: solid 1px #bebebe; margin-top: 8px}
.search-box .txtSearch{margin: 0;padding: 0;width: 180px;height: 20px;border: none; float:left}
.search-box .btnSearch{ background: url('/images/iconSearch.png') no-repeat center center;float: right;margin: 0;padding: 0;width: 20px;height: 20px; border: none}
.btnRSS{ width: 50px;height: 20px;background: url('/images/btnRSS.jpg');float: right;cursor: pointer;margin-right: 5px; margin-top: 8px}
.btnFB{width: 47px;height: 20px;background: url('/images/btnFb.png');float: right;cursor: pointer;margin-right: 5px; margin-top: 8px}


.top-news-cate{width: 936px;  background-color: #fff; min-height: 400px; float: left;}
/*****slide show*********/
#flash{overflow: hidden;float: left;width: 620px;}
.pic .bigImg{
    width: 620px;
    height: 360px;
}
#flash #bigPic{
    width: 620px;
    height: 360px;
    position: relative
}
#bigPic .pic{
    position:absolute;
    display:none;
     width: 620px;
    height: 360px;
    overflow: hidden
}
.pic .tieude-bar{
    opacity: 0.8;
    background: #000;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    min-height: 70px;
    display: block;
}
.pic .tieude-bar h1{
    text-transform: uppercase;
    opacity: 1;
    color:#fff;
    font-size:22px;
    padding:10px 10px 5px 10px;
    float:left;
    width:90%;
    overflow:hidden;
    margin: 0;
}
.pic .tieude-bar h1>a:first-child{
    text-transform: uppercase;
    display:block;
    opacity: 1;
    color:#fff;
    font-size:22px;
}
.pic .tieude-bar a.link{
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.pic .tieude-bar p{
    color:#e49b1d;
    font-size: 14px;
    float:left;
    padding:0px 0px 6px 10px;
    width:86%;
}
#scroll{
    overflow: hidden;
    padding-top: 10px;
}
ul#thumbs{
    overflow: hidden;
    width: 1000px;

}
ul#thumbs li.active{
	border:2px solid #000;
}
ul#thumbs, ul#thumbs li{
	margin:0;
	padding:0;
	list-style:none;
}	
ul#thumbs li{
	float:left;
	margin-right:11px;
	margin-bottom:5px;
	cursor:pointer;
    
}
ul#thumbs li h5{
    
    background-color: #000;
    opacity: 0.7;
    color: #fff;
    width: 132px;
    height: 27px;
    line-height: 27px;
    padding:4px;
    font-weight: bold;
    margin: 0;
}
ul#thumbs li:last-child{
    margin-right: 0;
}
ul#thumbs img{
	width:140px;
	height:80px;
	overflow:hidden;
	z-index:1;		
}
#list-tintuc{
    width: 288px;
    height: 384px;
    background-color: #f1f1f1;
    margin-left: 20px;
  
    border:1px solid #e0e0e0;
    float: left;
    overflow: hidden
}
#list-tintuc .tabs{
    display: block;
    padding: 3px 7px;
    font-size: 16px;
    color: #464646;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 39px; height: 25px
}
#list-tintuc .tabs span{ line-height: 39px;height: 25px;display: inline-block; margin-left: 5px}
#list-tintuc ul{
    padding-top: 8px;
    width: 100%;
}
#list-tintuc ul li{
    list-style-image: url('/images/list_ico.png');
    list-style-position: inside;
}
#list-tintuc ul li a{
    margin:10px;
    padding-bottom: 10px;
    display: block;
    border-bottom:1px solid #d1d1d1;
    color: #464646;
    line-height: 16px;
}
#list-tintuc ul li a:hover{
    color:#d20000;
}
#list-tintuc ul li:last-child a{
    border-bottom: none;
}

.iconWheel{ width: 39px;height: 39px;background: url(/images/iconWheel.png);display: inline-block; vertical-align: top}
/******top-video***********/
#top-video{width: 936px; height: 225px;}
#top-video h2{
    overflow: hidden;
    display: block;
    height: 37px;
    width: 932px;
    border: 1px solid #dbdbdb; 
    margin:0;
    background: rgb(222,222,222); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZGVkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(222,222,222,1) 0%, rgba(241,241,241,1) 34%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(222,222,222,1)), color-stop(34%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* IE10+ */
    background: linear-gradient(to right,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#f1f1f1',GradientType=1 ); /* IE6-8 */
}
#top-video span{
    display: block;
    float: right;
    padding: 10px 10px 10px 0px;
    height: 17px;
}
#top-video a.tab-video{
    display: block;
    float: left;
    padding: 15px 10px 9px 60px;
    margin-left:10px;
    background: url("/images/video_ico.png") no-repeat top left;
    font-size: 16px;
    color:#464646;
    text-transform: uppercase;
    font-weight: bold;    
}
#top-video a:hover{
    color: #d20000;
}
#top-video .video{
    width: 175px;
    float: left;
    margin:0px 0px 10px 10px;
    background-color: #fff;
    position: relative;
}
#top-video #list-video{
    float: left;
    overflow: hidden;
}
#top-video .video img.play{
    position: absolute;
    top: 20%;
    left: 40%;
}
.video a{display: block;}
.video .title{ 
    padding:10px 10px 20px 10px;
    height: 45px;
}
 #list-video{width: 934px;background: #f1f1f1; padding: 10px 0}
 #list-video-overflow{width:1850px;}
 #left, #right{
          border-radius: 50%;
	  background-color: #e6e6e6;
	  background-image: url(/images/pre_next_video.png);
	  background-repeat: no-repeat;
	  border:none;
	  cursor: pointer;
	  width: 27px;
	  height: 26px;
	  font-size: 22px;
	  line-height: 20px;
	  margin-top: -5px;
        }
        #left{
          background-position: -1px -2px;
        }
        #right{
          background-position: -33px -2px;
        }

        #top-video a:hover {
color: #d20000;
}
.video a {
display: block;
}
.title a {
color: #252525;
font-size: 12px;
font-weight: bold;
}
.video .title h3{margin: 0}
/*********top-news -horizontal************/
.cate_horizontal_home {
     width: 608px;float: left;background: #f1f1f1;height: 270px; overflow: hidden
}
.cate_horizontal_home h2{
    overflow: hidden;
    float: left;
    display: block;
    height: 38px;
    width: 606px;
    border: 1px solid #dbdbdb; 
    margin-bottom: 10px;
    background: rgb(222,222,222); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZGVkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(222,222,222,1) 0%, rgba(241,241,241,1) 34%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(222,222,222,1)), color-stop(34%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* IE10+ */
    background: linear-gradient(to right,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#f1f1f1',GradientType=1 ); /* IE6-8 */
    margin: 0;
}
.cate_horizontal_home a.tab-news{
    display: block;
    float: left;
    padding: 0px 10px 0px 45px;
    margin-left:10px;
    background: url("/images/iconWheel.png") no-repeat top left;
    font-size: 16px;
    color:#464646;
    text-transform: uppercase;
    font-weight: bold;    
    line-height: 40px
}
.cate_horizontal_home a:hover{
    color: #d20000;
}
.list-news{
    float: left;
    overflow: hidden;
    background: #f1f1f1; margin:10px 0
}
.news {
    width: 187px;
    float: left;
    margin:0px 0px 12px 12px;
}
.news a{display: block;}
.news .title-news{ 
    padding:5px 0;
}
.news .sum{color: #999898}
/************anh dep**************/
.anhdep {background-color: #f1f1f1;width: 310px; float:right; height: 270px}
.anhdep h2{
    overflow: hidden;
    float: left;
    display: block;
    height: 38px;
    width: 308px;
    border: 1px solid #dbdbdb; 
    margin-bottom: 10px;
    background: rgb(222,222,222); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZGVkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(222,222,222,1) 0%, rgba(241,241,241,1) 34%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(222,222,222,1)), color-stop(34%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* IE10+ */
    background: linear-gradient(to right,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#f1f1f1',GradientType=1 ); /* IE6-8 */
}
.anhdep a.tab-anh{
    display: block;
    float: left;
    padding: 0 10px 0 45px;
    margin-left:10px;
    background: url("/images/iconWheel.png") no-repeat top left;
    font-size: 16px;
    color:#464646;
    text-transform: uppercase;
    font-weight: bold; 
    line-height: 40px
}
.anhdep a:hover{ color: #d20000}
.anhdep .list-anh{float:left; overflow: hidden;}
.list-anh a{
    display: block; float: left;
    margin:0px 0px 12px 11px;
}

/***********top-news -vertical**************/
.cate_vertical_home {
    width: 332px;float: left;overflow: hidden;margin-right: 13px; background: #f1f1f1
}
.cate_vertical_home h2{
    overflow: hidden;
    float: left;
    display: block;
    height: 38px;
    width: 330px;
    border: 1px solid #dbdbdb; 
    background: rgb(222,222,222); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZGVkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(222,222,222,1) 0%, rgba(241,241,241,1) 34%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(222,222,222,1)), color-stop(34%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* IE10+ */
    background: linear-gradient(to right,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#f1f1f1',GradientType=1 ); /* IE6-8 */
}
.cate_vertical_home a.tab-news{
    display: block;
    float: left;
    padding: 0px 10px 0px 45px;
    margin-left:10px;
    background: url("/images/iconWheel.png") no-repeat top left;
    font-size: 16px;
    color:#464646;
    text-transform: uppercase;
    font-weight: bold;   
    line-height: 40px 
}
.cate_vertical_home a:hover{color: #d20000;}
.cate_vertical_home .news{width:305px; margin: 0px 0px 15px 12px;}
.cate_vertical_home .news a:first-child{float:left;}
.cate_vertical_home .news .title { width: 210px; margin-left:10px; float:left}
.cate_vertical_home .news .title h3{float: left; width: 100%;}

.cate_vertical_thamdo{
    width:245px; 
    height: 192px; 
    background-color: #f1f1f1; 
    margin-bottom: 15px;         
    float: right;
 }
 .cate_vertical_thamdo .list-news{
     padding:0px 10px 10px 10px;
 }
 .cate_vertical_thamdo .list-news p{
    font-weight: bold;
    line-height: 16px;
 }
 .cate_vertical_thamdo button {
    width: 90px;
    height: 25px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background: #252525;
    color: #fff;
 }
 .cate_vertical_thamdo button:hover{
    background: #333;
    color: #cde;
 }
.cate_vertical_thamdo h2{
    overflow: hidden;
    float: left;
    display: block;
    height: 38px;
    width:243px;
    border: 1px solid #dbdbdb; 
    background: rgb(222,222,222); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZGVkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(222,222,222,1) 0%, rgba(241,241,241,1) 34%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(222,222,222,1)), color-stop(34%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* IE10+ */
    background: linear-gradient(to right,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#f1f1f1',GradientType=1 ); /* IE6-8 */
}
.cate_vertical_thamdo a.tab-news{
    display: block;
    float: left;
    padding: 0px 10px 0px 45px;
    margin-left:10px;
    background: url("/images/iconWheel.png") no-repeat top left;
    font-size: 16px;
    color:#464646;
    text-transform: uppercase;
    font-weight: bold; 
    line-height: 40px   
}
.cate_vertical_thamdo a:hover{color: #d20000;}

.colLeft{ width: 610px; float: left}
.colRight{ width: 315px; float: right}
.title .datetime, .sum {
    color: #999898;
    font-size: 11px;
    padding: 5px 5px 5px 0px;
}
/*********tintuc tong hop**********/
.category{
}
#category .news-block{
    overflow: hidden;
    float: left;
    width:588px;
    border:1px solid #e6e6e6;
    padding: 10px;
    margin-bottom: 10px;
}
h2.bigTitle{ padding-top: 10px; display: inline-block}
#category .news-block img{
    float:left;
    width: 240px;
    margin-right: 10px;
}
#news-top .title{
    width: 100%;
}
#news-top img{ width: 100% !important; margin: 0}
.news-block .title{

    
    
}
.news-block .title h2,h2>a:first-child{
    color:#174381;
    font-weight: bold;
    font-size: 15px;
}
.news-block .title h2>a:hover{
    color:#d20000;
}
.news-block .title p{
    font-size: 12px;
}
.news-block .title p.sum{
    color:#333; font-size: 13px;
}
/******pagination*******/
.pagination a{ display: block; padding:5px 8px; border:1px solid #9c9c9c; margin-right: 5px; color: #505050; background-color: #fff;}
.pagination a:hover{color:#fff; background-color: #9c9c9c}
.pagination li.active a{color:#fff; background-color: #9c9c9c}
.pagination li:last-child a{ margin-right:0;}
.pagination li{float: left;}
.pagination {float: right; overflow: hidden; margin: 30px 0;}


/*********tintuc detail**********/
#detail .news-block{
    overflow: hidden;
    float: left;
    width:610px;
    border:none;
    margin-bottom: 10px;
}
#detail .content{float:left;width: 100%; font-size:12px; line-height:18px; text-align: justify; margin-bottom: 15px;font-family:"Arial","Times New Roman",Georgia,Serif;}
#detail img{max-width:610px;}
#detail .micropost{float:left;width: 100%; margin-bottom: 15px;}
#detail fieldset {border: 0;border-top: 1px solid #cecece; float: left; width: 100%; padding:10px 0;}
#detail fieldset ul li {
    list-style-image: url('..images/list_dup_ico.png');
    list-style-position: inside;
    margin: 8px 0px;
}
#detail p.datetime{
font-size:16px;line-height:18px;
}
#detail div{max-width:600px;}
#detail h2{ font-size:18px;line-height:18px;font-weight:bold}
#detail fieldset ul li a:first-child{ color:#333333; font-size: 12px; display: inline;}
#detail fieldset ul li a:first-child:hover{color:#d20000;}
#detail fieldset ul li span {color:#a5a5a5; font-size: 12px; margin-left:5px;}
#detail fieldset legend{ color:#174381; font-size: 14px; font-weight: bold}

/*********Tin doc nhieu trang cap 2**********/
.list-tin-doc-nhieu {
    background-color: #f1f1f1;width: 310px; float:right; margin-top: 15px
}
.list-tin-doc-nhieu h2{
    overflow: hidden;
    float: left;
    display: block;
    height: 38px;
    width: 308px;
    border: 1px solid #dbdbdb; 
    margin-bottom: 10px;
    background: rgb(222,222,222); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZGVkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(222,222,222,1) 0%, rgba(241,241,241,1) 34%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(222,222,222,1)), color-stop(34%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* IE10+ */
    background: linear-gradient(to right,  rgba(222,222,222,1) 0%,rgba(241,241,241,1) 34%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#f1f1f1',GradientType=1 ); /* IE6-8 */
}
.list-tin-doc-nhieu a.tab-anh{
    display: block;
    float: left;
    padding: 0 10px 0 45px;
    margin-left:10px;
    background: url("/images/iconWheel.png") no-repeat top left;
    font-size: 16px;
    color:#464646;
    text-transform: uppercase;
    font-weight: bold; 
    line-height: 40px
}
.list-tin-doc-nhieu .list-news {
float: left;
overflow: hidden;
}
.list-tin-doc-nhieu a:hover{color: #d20000;}
.list-tin-doc-nhieu .news{width:305px; margin: 0px 0px 15px 12px;}
.list-tin-doc-nhieu .news a:first-child{float:left;}
.list-tin-doc-nhieu .news .title { width: 210px; margin-left:10px; float:left}
.list-tin-doc-nhieu .news .title h3{float: left; width: 100%;}
.list-tin-doc-nhieu .news>a:first-child {
border: 1px solid #cecece;
padding: 2px;
background-color: #fff;
}
